.landing-container {
  position: relative;
  background-color: #ff5500;
  color: white;
  overflow-x: hidden;
}

.landing-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  position: relative;
}

.landing-content {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.side-image {
  position: absolute;
  top: 40px;
  height: 500px;
  object-fit: contain;
  z-index: 1;
}

.left-image {
  left: 0;
}

.right-image {
  right: 0;
}

.landing-content h1 {
    font-family: sans-serif;
}

.landing-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}


.location-input,
.search-res {
        display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
  border-radius: 10px;
  border: none;
}

.search-res {
    padding-right: 10px;
}

.location-input {
    padding: 15px;
    width: 300px;
}

.search-input {
    outline: none;
    padding: 15px;
    width: 500px;
}

@media (max-width: 768px) {
  .landing-search {
    flex-direction: column;
  }
  .location-input,
  .search-input {
    width: 100%;
  }
  .side-image {
    top: 0px;
    height: 200px;
  }
  .left-image {
    left: -20px;
  }
  .right-image {
    right: -20px;
  }
}


.offer {
  display: inline-block;
  background: rgba(255, 85, 0, 0.2);
  color: #ff5500;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.landing-card img {
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}
